<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">    
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>

        <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Fira Code', 'Courier New', Courier, monospace;
            color: rgba(255, 255, 255, 0.7); /* Faded white text color */
        }

        .journal-container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            border-left: 2px solid rgba(0, 140, 210, 0.76); /* Left vertical line */
            border-right: 2px solid rgba(0, 140, 210, 0.76); /* Right vertical line */
        }
    </style>
</head>

<body>
    <header>
        <img class="logo" src="{{ url_for('static', filename='images/logo.svg') }}" alt="logo">
        <nav>
            <ul class="nav__links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('experience') }}">Experience</a></li>
                <li><a href="{{ url_for('projects') }}">Projects</a></li>
                <li  class="active"><a href="{{ url_for('journal') }}">Journal</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
        <a class="cta" href="https://drive.google.com/file/d/1zb_eKps3E8QcaE_FxczWApLhLyU4L9RN/view?usp=sharing" target="_blank"><button>Resume</button></a>
    </header>
    <div class="journal-container">
        <p>
            <span style="color:#008CD2 ; font-weight: bold;">My CS Journey<br><br></span>
            <!-- Your journal entry here -->

From an early age, I was always drawn to the wonders of technology. As a child, I was the one who would take my father's brand new Nokia phone apart, driven by an insatiable curiosity to explore its features and understand how it all worked. This fascination only grew stronger as I got older, and it became clear that I wanted to pursue a path where I could continue to explore and create.

In high school, I thrived on the challenges that required innovative thinking and problem-solving. As graduation approached, I found myself at a crossroads, trying to decide on a future path that would keep this curiosity alive. I initially considered computer engineering, drawn by the allure of building and understanding hardware. However, I soon realized that my true passion lay elsewhere. While connecting wires on a breadboard was interesting, my curiosity was truly piqued by the world of software.

The creation of software, despite being a relatively recent development in human history, fascinated me. The idea that lines of code could control and transform the digital world left me intrigued and eager to learn more. Software development presented a unique challenge that tested my creativity and problem-solving skills in ways I had never experienced before.

As I delved deeper into the field, I was captivated by the potential of software to shape our lives. The power of computing, I realized, could unlock a world of possibilities, making information accessible and transforming how we interact with technology. This realization solidified my commitment to pursuing a degree in computer science.

Throughout my journey, I have sought to deepen my understanding and contribute to the field of computer science. Each step has brought new challenges and opportunities, fueling my passion and driving me to explore further. My journey in computer science is not just about acquiring knowledge; it is about being part of a transformative field that continually pushes the boundaries of what is possible.        </p>
    </div>
</body>

</html>
